<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static '/comics/css/admin_styles.css' %}"media="screen" title="no title"  charset="utf-8">
    </head>
    <body>
        <ul>
            <li>Dashboard</li>
            <li><a class="header_link" href = '/dashboard/orders'>Orders</a></li>
            <li><a class="header_link" href = '/dashboard/products'>Products</a></li>
            <li id="logoff"><a class="header_link" href = '#'>Log Off</a></li>
        </ul>
        <h1>Products</h1>
        <form>
            Search<input type="text" name="prodsearch">
        </form>
        <button id="myBtn">Add new product</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Add Product</h3>
            <form action="product_adder" method="POST">
                {% csrf_token %}
                <p class="addtext">Name <input type="text" name="name"></p>
                <p class="addtext">Description </p>
                <p class="addtext"><textarea name="description"></textarea>
                <p class="addtext">Categories <input type="text" name="category"></p>
                <p class="addtext">Price <input type="number" step="0.01" name="price"></p>
                <p class="addtext">Quantity <input type="number" name="quantity"></p>
                <input type="submit" value="Add Product">
            </form>
          </div>

        </div>

        <script>
        var modal = document.getElementById('myModal');
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        </script>
        <table id="products_table">
            <th>Picture</th>
            <th>ID</th>
            <th>Name</th>
            <th>Inventory Count</th>
            <th>Quantity Sold</th>
            <th>Action</th>
            {% for product in products %}
            <tr>
                <td>{{product.image}}</td>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.quantity}}</td>
                <td>1000</td> <!-- NEED TO CHANGE -->
                <td><a href='#'>edit</a>    <a href='#'>delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
