<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        {% load staticfiles %}
<link rel="stylesheet" href="{% static '/comics/css/admin_styles.css' %}"media="screen" title="no title"  charset="utf-8">    </head>
    <body>
            <ul>
                <li>Dashboard</li>
                <li><a class="header_link" href = '/dashboard/orders'>Orders</a></li>
                <li><a class="header_link" href = '/dashboard/products'>Products</a></li>
                <li id="logoff"><a class="header_link" href = '#'>Log Off</a></li>
            </ul>
        <h1>Orders</h1>
    </body>
</html>
