<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Product Spotlight Page</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'comics/css/style.css' %}"media="screen" title="no title"  charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script>
      $(document).ready(function(){
        $("#my_cart").hide();
        $(document).on('click','#display_cart_button', function(){
          $("#my_cart").slideToggle("slow");
        });
      });
    </script>
  </head>
  <body id="bg" style="background-image: url('{% static '/comics/images/backgrounds/temp_blue_background_4.jpg' %}')";>
    {%include 'includes/nav.html'%}
    <div id="wrapper">
      <h1 id="product_spotlight_title">Product Spotlight {{ product_name }}</h1>
      <div class="product_spotlight_container">
        <h1>{{ product_name }}</h1>
        <div class="product_image_container_prime">
          <img src="#" alt="">
        </div>
        <div class="product_spotlight_image">
          <img src="#" alt="">
        </div>
        <div class="product_spotlight_image">
          <img src="#" alt="">
        </div>
        <div class="product_spotlight_image">
          <img src="#" alt="">
        </div>
        <div class="product_spotlight_image">
          <img src="#" alt="">
        </div>
        <div class="product_spotlight_image">
          <img src="#" alt="">
        </div>
        <div class="product_spotlight_image">
          <img src="#" alt="">
        </div>
      </div>
      <div class="product_description">
        <h3>Item Description{{ product_description }}</h3>
        <p id="product_description_display">Here goes the description {{product_description}}</p>
      </div>
      <div id="buy_this_product">
        <form class="product_price_selection_form" action="#" method="post">
          {% csrf_token %}
          <select class="price_select_dropdown" name="">
            <option value="">{{ product_price_1 }}</option>
            <option value="">{{ product_price_2 }}</option>
            <option value="">{{ product_price_3 }}</option>
            <option value="">{{ product_price_4 }}</option>
          </select>
          <button type="submit" name="Buy">Buy</button>
        </form>
      </div>
      <div id="similar_products_footer">
        <h3>Similar Products</h2>
          <div id="product_gallery">
            <a href="/product_spotlight/{{product.id}}">
              <div class="product_gallery_item">
                <div class="product_image_holder">
                    <img class="product-image" class="w3-hover-sepia" src="{%static 'comics/images/guardians1.jpg'%}" alt="{{product.name}} comic picture">
                </div>
                <p class="product_price">Price{{product.price}}</p>
                <p class="product_name">Name{{product.name}}</p>
              </div>
            </a>
          </div>
          <!-- <div id="product_gallery">
            {% for product in products %}
            <a href="#">
              <div class="product_gallery_item">
                <div class="product_image_holder">
                    <img src="#" alt="product image">
                </div>
                <p class="product_price">Product Price{{ product_price }}</p>
                <p class="product_name">Product Name{{ product_name }}</p>
              </div>
            </a>
            {% endfor %}
          </div> -->
      </div>
      {% include 'includes/footer.html' %}
    </div>

    <!-- __Cart View -->

    <div id="cart_view">
      <div id="display_cart_button">
        Click to Toggle View Cart<img id="my_cart_img" src="{% static 'comics/images/navigation/shopping_cart.png' %}" alt="Shopping Cart Image">
      </div>
      <div id="my_cart">
        <table id="my_cart_display">
          <thead>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </thead>
          {% for item in shopping_cart_items %}
            <tr>
              <td>Product Name{{ product_name }}</td>
              <td>Product Price{{ product_price }}</td>
              <td>Quantity{{ product_selected_quantity }}</td>
              <td>Cost{{ total_cost }}</td>
            </tr>
            {% endfor %}
        </table>
        <div id="shopping_cart_link">
          <a href="/shopping_cart"><p id="check_out_click">Click for Checkout</p></a>
        </div>
      </div>
    </div>
  </body>
</html>
