<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Category Page</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/comics/css/style.css' %}"media="screen" title="no title"  charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script>
      $(document).ready(function(){
        $("#my_cart").hide();
        $("#display_cart_button").click(function(){
          $("#my_cart").slideToggle("slow");
          });
        });
    </script>
  </head>
  <body id="bg" style="background-image: url('{% static '/comics/images/backgrounds/temp_blue_background_web.png' %}'); width: 100%";>
    {% include 'includes/nav.html'%}
    <div id="wrapper">
      <h1 id="products_main_title">{{category.name}} Showcase</h1>

<!-- __Search Form -->
      <div id="products_console_1">
        {% csrf_token %}
        <form id="product_search" action="/search_product" method="post">
          <input type="text" name="" value="" placeholder="Enter Product Here">
          <button type="search" name="Search">Search</button>
        </form>
        <h2 id="category_list_title">Categories</h2>
        <ul id="categories">

          {%for category in categories%}
            <li><a href='/product/category/{{category.id}}'>{{category.name}} ( {{category.product_category.count}} )</a></li>
          {%endfor%}

        </ul>
        <a id="show_all_products_link" href="/products_main">Show All</a>
      </div>
      <div id="products_console_2">
        <!-- <form id="product_navigation" action="#" method="post">
          {% csrf_token %}
          Comics Sorted by: <select id="product_selection_drop_down">
            <option value="">Price</option>
            <option value="">Category</option>
            <option value="">Most Popular</option>
          </select>
        </form> -->


<!-- __Product Display -->

        <div id="product_gallery">
          {% for product in products %}
          <div class="product_gallery_item">
            <a href="/product_spotlight/{{product.id}}">
            <div class="product_image_holder">
                <img class="product-image" class="w3-hover-sepia" src="{{product.image.url}}" alt="{{product.name}} comic picture">
            </div>
            <p class="product_price">{{product.price}}</p>
            <p class="product_name">{{product.name}}</p>
            </a>
            <form id="add_to_cart_form" class="" action="#" method="post">
              {% csrf_token %}
              <button class="cart_add" type="submit" name="add_to_cart">Add to Cart</button>
            </form>
            <!-- <p id="add_to_cart_button">Add to Cart</p> -->
          </div>
          {% endfor %}
        </div>


<!-- ___Pagination -->

        <div class="pagination">
          <span class="step-links">
              {% if products.has_previous %}
                  <a href="?page={{ products.previous_page_number }}">previous</a>
              {% endif %}

              <span class="current">
                  Page {{ products.number }} of {{ products.paginator.num_pages }}.
              </span>

              {% if products.has_next %}
                  <a href="?page={{ products.next_page_number }}">next</a>
              {% endif %}
          </span>
        </div>
      </div>
    </div>

    <!-- __Cart View -->

    <!-- <div id="cart_view">
      <div id="display_cart_button">
        Click to Toggle View Cart<img id="my_cart_img" src="{% static 'comics/images/navigation/shopping_cart.png' %}" alt="Shopping Cart Image">
      </div>
      <div id="my_cart">
        <table id="my_cart_display">
          <thead>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </thead>
          {% for item in shopping_cart_items %}
            <tr>
              <td>Product Name{{ product.name }}</td>
              <td>Product Price{{ product.price }}</td>
              <td>Quantity{{ product.quantity }}</td>
              <td>Cost{{ total_cost }}</td>
            </tr>
            {% endfor %}
        </table>
        <div id="shopping_cart_link">
        <a href="/shopping_cart"><p id="check_out_click">Click for Checkout</p></a>
        </div>
      </div>
    </div> -->
  </body>
</html>
