<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Products Main Page</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/comics/css/style.css' %}"media="screen" title="no title"  charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script>
      $(document).ready(function(){
        $("#my_cart").hide();
        $("#display_cart_button").click(function(){
          $("#my_cart").slideToggle("slow");
      //     });
      //   $("#temp_logo").click(function(){
      //     $("#temp_logo").fadeOut("slow");
      //     $("#door_1_1").hide('slide',{direction:'right'},1000);
      //     $("#door_1_2").animate({ marginLeft: "100%"} , 4000);
      //     $("#door_screen_1").fadeOut("slow");
      //     $("#door_2_1").animate({width: '500px'});
      //     $("#door_3_1").animate({'margin-left':'5000px'},5000,function(){$(this).remove();});
      //     $("#door_3_2").animate({ marginLeft: "100%"} , 4000);
          });
        });
    </script>
  </head>
  <body id="bg" style="background-image: url('{% static '/comics/images/backgrounds/temp_blue_background_web.png' %}'); width: 100%;">
    {% include 'includes/nav.html'%}
    <div id="wrapper">
      <h1 id="products_main_title">Products Main Showcase</h1>

<!-- __Search Form -->
      <div id="products_console_1">

        <form id="product_search" action="/search_comics" method="post">
          {% csrf_token %}
          <input type="text" name="name" value="" placeholder="Product Name Here">
          <button type="search" name="Search">Search</button>
        </form>
        <h2 id="category_list_title">Categories</h2>
        <ul id="categories">

          {%for category in categories%}
            <li><a href='/product/category/{{category.id}}'>{{category.name}} ( {{category.product_category.count}} )</a></li>
          {%endfor%}
          <!-- <li>Comics {{ comics_inventory }}</li>
          <li>Graphic Novels {{ graphic_novels_inventory }}</li>
          <li>Tabletop Games {{ tabletop_inventory }}</li>
          <li>Miniatures {{ miniatures_inventory }}</li> -->
        </ul>
        <a id="show_all_products_link" href="/products_main">Show All</a>
      </div>
      <div id="products_console_2">
        <!-- <h1>Products {{ page_number }}</h1>
        <div id="products_gallery_navigation">
          <a class="products_gallery_navigation_links" href="#">first</a>
          <p class="link_divider">|</p>
          <a class="products_gallery_navigation_links" href="#">prev</a>
          <p class="link_divider">|</p>
          <p id="page_number_sig">Page Number:#{{ page_number }}</p>
          <p class="link_divider">|</p>
          <a class="products_gallery_navigation_links" href="#">next</a>
        </div> -->

        <!-- <form id="product_navigation" action="/sort_products" method="post">
          {% csrf_token %}
          Comics Sorted by: <select id="product_selection_drop_down">
            <option value="Price">Price</option>
            <option value="Category">Category</option>
          </select>
        </form> -->


<!-- __Product Display -->

        <div id="product_gallery">
          {% for product in products %}
          <div class="product_gallery_item">
            <a href="/product_spotlight/{{product.id}}">
            <div class="product_image_holder">
                <img class="product-image" class="w3-hover-sepia" src="{{product.image.url}}" alt="{{product.name}} comic picture">
            </div>
            <p class="product_price">{{product.price}}</p>
            <p class="product_name">{{product.name}}</p>
            </a>
            <form id="add_to_cart_form" class="" action="/product_spotlight/{{product.id}}" method="post">
              {% csrf_token %}
              <!--<button class="cart_add" type="submit" name="add_to_cart">Add to Cart</button>-->
              <input type='submit' value='Add to Cart'>
            </form>
            <!-- <p id="add_to_cart_button">Add to Cart</p> -->
          </div>
          {% endfor %}
        </div>


<!-- ___Pagination -->

        <div class="pagination">
          <span class="step-links">
              {% if products.has_previous %}
                  <a href="?page={{ products.previous_page_number }}">previous</a>
              {% endif %}

              <span class="current">
                  Page {{ products.number }} of {{ products.paginator.num_pages }}.
              </span>

              {% if products.has_next %}
                  <a href="?page={{ products.next_page_number }}">next</a>
              {% endif %}
          </span>
        </div>
      </div>
    </div>

    <!-- __Cart View -->

    <!-- <div id="cart_view">
      <div id="display_cart_button">
        Click to Toggle View Cart<img id="my_cart_img" src="{% static 'comics/images/navigation/shopping_cart.png' %}" alt="Shopping Cart Image">
      </div>
      <div id="my_cart">
        <table id="my_cart_display">
          <thead>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </thead>
          {% for product in request.session.shopping_cart %}
            <tr>
              <td>{{ product.name }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.quantity }}</td>
              <td>{{ product.prod_total }}</td>
            </tr>
            {% endfor %}
        </table>
        <div id="shopping_cart_link">
        <a href="/shopping_cart"><p id="check_out_click">Click for Checkout</p></a>
        </div>
      </div>
    </div> -->
    <!-- __Vault Door -->

    <!-- <div id="store_entry">
      <img id="temp_logo" src="{% static 'comics/images/logo_stuff/temp_title_image_2_web.png' %}" alt="Store Temp Logo">
      <div id="door_1_1">
        <img id="temp_door_1_1" src="{% static 'comics/images/doors/Project_landing_page_L1_panel_1_cc_web.png' %}" alt="Store Temp Door 1 prt 1">
      </div>
      <div id="door_1_2">
        <img id="temp_door_1_2" src="{% static 'comics/images/doors/Project_landing_page_L1_panel_2_cc_web.png' %}" alt="Store Temp Door 1 prt 2">
      </div>
      <div id="door_screen_1">
        <img id="temp_door_screen" src="{% static 'comics/images/doors/Project_landing_page_screen.png' %}" alt="Store Temp Door Screen">
      </div>
      <div id="door_2_1">
        <img id="temp_door_2_1" src="{% static 'comics/images/doors/Project_landing_page_L2_panel_1_cc_web.png' %}" alt="Store Temp Door 2 prt 1">
      </div>
      <div id="door_3_1">
        <img id="temp_door_3_1" src="{% static 'comics/images/doors/Project_landing_page_L3_panel_1_cc_web.png' %}" alt="Store Temp Door 2 prt 2">
      </div>
      <div id="door_3_2">
        <img id="temp_door_3_2" src="{% static 'comics/images/doors/Project_landing_page_L3_panel_2_cc_web.png' %}" alt="Store Temp Door 2 prt 3">
      </div>
    </div> -->
    
  </body>
</html>
