<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shopping Cart Page</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'comics/css/style.css' %}"media="screen" title="no title"  charset="utf-8">
  </head>

  <body id="bg" style="background-image: url('{% static '/comics/images/backgrounds/temp_blue_background_3_web.png' %}')";>
    <div id="wrapper">
      {%include 'includes/nav.html'%}
<!-- __Information Form -->
      <h1 id="shopping_cart_title">Shopping Cart Portal</h1>
      <div id="checkout_information_form">
    <div id="shopping_cart_container">
      <table id="shopping_cart_display">
        <thead>
          <th>Item</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </thead>
          <tr>
          {% for the_product in request.session.productid %}
            <td>{{the_product.name}}</td>
            <td>{{the_product.price}}</td>
            <td>{{the_product.quantity}}</td>
          {% endfor %}
          </tr>
      </table>
    </div>
    <div id="shopping_cart_table_footer">
      <p id="cart_total">Cart Total: {{ shopping_cart_total }}</p>
      <a href="/products_main"><button type="button" name="button">Continue Shopping</button></a>
      <a href='/checkout'><button type='button' name='button'>Checkout</button></a>
    </div>
  </body>
</html>
