<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Users</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static '/comics/css/admin_styles.css' %}"media="screen" title="no title"  charset="utf-8">
    </head>
    <body>
        <ul>
            <li>Dashboard</li>
            <li><a class="header_link" href = '/dashboard/orders'>Orders</a></li>
            <li><a class="header_link" href = '/dashboard/products'>Products</a></li>
            <li><a class="header_link" href = '/dashboard/users'>Users</a></li>
            <li id="logoff"><a class="header_link" href = 'admin_logout'>Log Off</a></li>
        </ul>
        <h1>Users</h1>
        <table>
            <th>User ID</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Authority Level</th>
            <th>Action</th>
            {% for user in users %}
            <tr>
                <form action='user_update/{{user.id}}' method="POST">
                    {% csrf_token %}
                <td>{{user.id}}</td>
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>
                    <select name="new_auth">
                        <option value={{user.admin_auth}}>{{user.admin_auth}}</option>
                        {% if user.admin_auth == True %}
                            <option value="False">False</option>
                        {% else %}
                            <option value="True">True</option>
                        {% endif %}
                    </select>
                </td>
                <td><input type="submit" value="Update"></form><a href="user_delete/{{user.id}}"><button>Delete</button></a></td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Update Users">
    </body>
</html>
